* {
    box-sizing: border-box;
}

body {
	margin: 0;
    text-align: center;
}
#player-control{
	top: 0;
	left: 0;
	background:#fff;
	width: 100%;
	position:fixed;
	z-index:2;
}
h1:hover {
    color: #0000ff;
}
#music-name{
	visibility:hidden
}
#img-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* 定义旋转动画 */
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.playimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* 360°旋转，默认不动 */
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

#prosser-container{
	height: 10px;
	background-color:#aaff7f;
	opacity: 0.3;
	cursor: pointer;
	margin-left: 30%;
	margin-right:30% ;
	visibility:hidden;
}

#prosser{
	background-color: #33edfb;
	border-radius: 4px;
	height: 100%;
	width: 0%;
	transition: width 0.1s linear;
}

#action-div {
    margin: auto;
    /* width: 60%; */
	align-items: center;
	display: flex;
	justify-content: center;
	
}



.icon_lists {
    display: flex;
   /* text-align: justify; */
	align-items: center;
    width: 120px;
    height: 120px;
    font-size: 42px;

}

.icon {

    width: 1em;
    height: 1em;
    margin: auto;
    /*vertical-align: -0.15em;*/
    /*fill: #102fcc;*/
    -webkit-transition: font-size 0.25s linear, width 0.25s linear;
    -moz-transition: font-size 0.25s linear, width 0.25s linear;
    transition: font-size 0.25s linear, width 0.25s linear;
}

.icon_lists:hover {
    font-size: 100px;
}

#music-list{
	margin-top: 500px;
	cursor: pointer;
	margin-left: 30%;
	margin-right:30% ;
}

.music{
	border-radius: 15px;
	opacity: 0.7;
}